@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-dm-mono: var(--font-dm-mono);
    --font-dm-serif-display: var(--font-dm-serif-display);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sticky::-webkit-scrollbar {
  width: 4px;
}

.sticky::-webkit-scrollbar-track {
  background: transparent;
}

.sticky::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 2px;
}

.sticky::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.sticky {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}

.tracker-scroll::-webkit-scrollbar {
  width: 4px;
}

.tracker-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.tracker-scroll::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 2px;
}

.tracker-scroll::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.tracker-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
